.bgColor{
    background-color: #444444;
    width: 390px;
    height: 55px;
    border-radius: 7px;
    padding-left: 7px;
}
/* ::-webkit-input-placeholder { 
    color: white;
  }
  
  :-ms-input-placeholder { 
    color: white;
  }
  
  ::placeholder {
    color: white;
  } */
.search-bar{
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 5px;
    width: 390px;
    height: 50px;
    max-width: 4500px;
    margin: 1em auto;
    padding: 0px 15px;
}
.search{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 33px;
    width: 60px;
    background-color: grey;
    height: 40px;
    /* margin-left: 10px; */
    margin-top: 7px;
}
.center{
    text-align: center;
    justify-content: center;
}

.weather{
  padding-top: 40px;
}

.weather1{
  padding-top: 60px;
}
